.bmi-container {
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 20px;
}

#bmi-cal-heading {
    text-align: center;
    padding-bottom: 20px;
}

label::after {
    content: ' *';
    white-space: pre;
    color: red;
}

input {
    height: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    
}

.bmi-cal{
    background: linear-gradient(to bottom right, #ffe2c3,white);
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

.content-card{
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    overflow: auto; 
    letter-spacing: 1.25px;
    word-spacing: 2px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#bmi-description {
    background: linear-gradient(to bottom right, rgb(208, 255, 218), white);
}

#bmi-description-heading {
    display: block;
    text-align: center;
    padding-bottom: 10px;
}

#bmi-description-content {
    display: grid;
    grid-template-columns: 0.25fr 1.75fr;
}

#bmi-description-content-img {
    height: 218.88px;
}

#bmi-description-content-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bmi-detailing > h2{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    word-spacing: 0.3rem;
}

.bmi-detailing > h2::after{
    content: '?';
    font-size: 5rem;
    margin-left: 10px;

    /* Animation */
    animation-name: question;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;


}

@keyframes question{
    0% {transform: rotateY(0deg);}
    25% {transform: rotateY(90deg);}
    50% {transform: rotateY(0deg);}
    75% {transform: rotateY(0deg);}
    100% {transform: rotateY(0deg);}
}

.bmi-detailing > p {
    letter-spacing: 0.1rem;
    word-spacing: 0.3rem;
    margin-bottom: 30px;
}
/* Responsive for phones */

@media (max-width: 800px) {
    .bmi-container {
        grid-template-columns: repeat(1, 1fr);
    }
    
}