* {
    padding: 0px;
    margin: 0px;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Header Styling */

header {
    width: 100%;
    z-index: 1;
    background-color: #26262f;
    color: #fff8f0;
    text-align: center;
    position: sticky;
    top: 0;
    left: 0;
}

h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 2em;
    letter-spacing: 2px;
    word-spacing: 10px;
}

#nav-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    
}

#nav-items li {
    list-style-type: none;
    flex: 1;
    text-align: center;
    
}

#nav-items li a {
    display: block;
    text-decoration: none;
    width: 100%;
    padding: 10px 0;
    font-size: 1em;
    color: #ffcf99;
}

#nav-items li:hover {
    background-color: #0e0e11;
}


main {
  flex: 1;
  padding: 20px;
}

/* Cards Container Styling */

.home-container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 20px;
    margin: auto;

}

/* Cards Styling */

.content-card{
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    overflow: auto; 
    letter-spacing: 1.25px;
    word-spacing: 2px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#content1 {
    background: linear-gradient(to bottom right, #ffe2c3,white);
}

#content2{
    background: linear-gradient(to bottom right, rgb(208, 255, 218), white);
}

#content3{
    background: linear-gradient(to bottom right, #abfbf7,white);
}

#content4 {
    background: linear-gradient(to bottom right, rgb(253, 251, 179), white);
}

.content-card:hover {
    transform: scale(1.01);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
}

/* Image Styling */

.img {
    float:right;
    width: 30%;
    margin-left: 10px;
    margin-bottom: 10px;
}

/* Button Styling */

.btn {
    position: relative;
    bottom: 0px;
    display: block;
    background-color: white;
    width: 70%;
    height: 40px;
    margin: 20px auto;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 1px 2px rgb(94, 94, 94);
    font-size: 1rem;
    cursor: pointer;
}

.btn:active {
    box-shadow: 0px 0px;
    
}
.btn:hover {
    background-color: black;
    color: white;
}

.home.btn span::after {
  content: ""; 
  margin-left: 0;
  opacity: 0;
  transition: margin-left 0.3s ease, opacity 0.3s ease;
}

.home.btn:hover span::after {
  content: "\00bb";
  margin-left: 10px;
  opacity: 1;
}

/* Footer Styling */

footer {
    width: 100%;
    padding: 15px auto;
    color: #fff8f0;
    display: flex;
    background-color: #26262f;
    align-items: center;
    justify-content: center;
    
}

footer p {
    margin: 0px;
    line-height: 50px;
}

/* Responsive for phones */

@media (max-width: 800px) {
    .home-container {
        grid-template-columns: repeat(1, 1fr);
    }
    
}