* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


header {
    width: 100%;
    z-index: 1;
    background-color: #26262f;
    color: #fff8f0;
    text-align: center;
    position: sticky;
    top: 0;
}

h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 2em;
    letter-spacing: 2px;
    word-spacing: 10px;
}

#nav-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    
}

#nav-items li {
    list-style-type: none;
    flex: 1;
    text-align: center;
    

}

#nav-items li a {
    display: block;
    text-decoration: none;
    width: 100%;
    padding: 10px 0;
    font-size: 1em;
    color: #ffcf99;
}

#nav-items li:hover {
    background-color: #0e0e11;
}
#nav-items li {
    text-decoration: dashed;
}

.container1 {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    flex-direction: row;
}

.content1, .content2, .content3, .content4{
    flex: 1 1 calc(50% - 20px);
    padding: 10px;
    margin: 10px;
    width: 50%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    overflow: auto; 
    letter-spacing: 1.25px;
    word-spacing: 2px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.content1, .content4{
    background: linear-gradient(to bottom right, #f8d9b7,white);
}

.content2, .content3 {
    background: linear-gradient(to bottom right, rgb(208, 255, 218), white);
}

.content1:hover , .content2:hover , .content3:hover, .content4:hover {
    transform: scale(1.01);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
}

#img1 , #img2 , #img3 , #img4 {
    float:right;
    width: 30%;
    margin-left: 10px;
    margin-bottom: 10px;
}

.home-btn {
    display: block;
    background-color: white;
    width: 70%;
    height: 40px;
    margin: 20px auto;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 1px 2px rgb(94, 94, 94);
    font-size: 1rem;
    cursor: pointer;
}

.home-btn:active {
    box-shadow: 0px 0px;
}
.home-btn:hover {
    background-color: black;
    color: white;
}

@media (max-width: 800px) {
    .content1 , .content2 {
        flex: 100%;
    }
}